[Desktop Entry]
Type=Application
Name=Orchard
Comment=Install, open, and update Orchard
Exec=orchard %U
Icon=dev.sfg.orchard
Terminal=false
Categories=Audio;AudioVideo;Player;
StartupNotify=true
StartupWMClass=dev.sfg.orchard
