ai.onnx;17;Add,BatchNormalization,Cast,Clip,Concat,Constant,ConstantOfShape,ConvInteger,Div,DynamicQuantizeLinear,Erf,Expand,Gather,Identity,MatMul,MatMulInteger,Mul,Neg,ReduceL2,Relu,Reshape,Shape,Sigmoid,Slice,Softmax,Split,Squeeze,Tanh,Transpose,Unsqueeze
com.microsoft;1;DynamicQuantizeLSTM,DynamicQuantizeMatMul,FusedMatMul,Gelu,MatMulIntegerToFloat
